{% extends 'todo/layout.html' %}

{% block content %}
<a href="{% url 'todo:logout' %}">Logout</a>
<h1>What will you do today?</h1>
<div class="input-container">
    <form method="POST" action="{% url 'todo:add_task' %}">
        {% csrf_token %}
        {{ form }}
        <button id="addBtn" class="btn btn-primary ">Add</button>
    </form>
</div>
<div id="lists-container" class="mt-4">
    <div id="lists-container" class="mt-4">
        <ul id="list-1" class="task-list list-group">
            <h4>Priority 1</h4>
            {% for task in tasks %}
                {% if task.priority == 1 %}
                    <li><input type="checkbox" id="task_{{ task.id }}" class="form-check-input"><span class="task-text">{{ task.name }}</span></li>
                {% endif %}
            {% endfor %}
        </ul>
        <ul id="list-2" class="task-list list-group">
            <h4>Priority 2</h4>
            {% for task in tasks %}
                {% if task.priority == 2 %}
                    <li><input type="checkbox" id="{{ task.id }}" class="form-check-input"><span class="task-text">{{ task.name }}</span></li>
                {% endif %}
            {% endfor %}
        </ul>
        <ul id="list-3" class="task-list list-group">
            <h4>Priority 3</h4>
            {% for task in tasks %}
                {% if task.priority == 3 %}
                    <li><input type="checkbox" id="task_{{ task.id }}" class="form-check-input"><span class="task-text">{{ task.name }}</span></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    
</div>
{% endblock %}
