{% extends 'todo/layout.html' %}

{% block content %}
<h1>What will you do today?</h1>
<div class="input-container">
    <form method="POST" action="{% url 'todo:add_task' %}">
        {% csrf_token %}
        <input type="text" id="input" class="form-control" placeholder="Add a new item...">
        <select id="priority" class="form-control" name="priority">
            <option value="1">Priority 1</option>
            <option value="2">Priority 2</option>
            <option value="3">Priority 3</option>
        </select>
        <button id="addBtn" class="btn btn-primary ">Add</button>
    </form>
</div>
<div id="lists-container" class="mt-4">
    <div id="lists-container" class="mt-4">
        <ul id="list-1" class="task-list list-group">
            <h4>Priority 1</h4>
            {% for task in tasks %}
                {% if task.priority == 1 %}
                    <li><input type="checkbox" class="form-check-input"><span class="task-text">{{ task.name }}</span></li>
                {% endif %}
            {% endfor %}
        </ul>
        <ul id="list-2" class="task-list list-group">
            <h4>Priority 2</h4>
            {% for task in tasks %}
                {% if task.priority == 2 %}
                    <li><input type="checkbox" class="form-check-input"><span class="task-text">{{ task.name }}</span></li>
                {% endif %}
            {% endfor %}
        </ul>
        <ul id="list-3" class="task-list list-group">
            <h4>Priority 3</h4>
            {% for task in tasks %}
                {% if task.priority == 3 %}
                    <li><input type="checkbox" class="form-check-input"><span class="task-text">{{ task.name }}</span></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    
</div>
{% endblock %}
